*.class
*.properties

# Mobile Tools for Java (J2ME)
.mtj.tmp/
/RetailBankingSystem-ejb/dist/
/RetailBankingSystem-war/build/
/RetailBankingSystem-war/dist/
/dist/
/nbproject/private/
/RetailBankingSystem-war/nbproject/private/
/RetailBankingSystem-ejb/nbproject/private/
/RetailBankingSystem-ejb/build/
/build/