$primaryColor: #022A5A;
$primaryDarkColor: #011e41;
$primaryLightColor: #9fa8da;
$accentColor: #E6A82E;
$accentDarkColor: #ad1457;
$accentLightColor: #f48fb1;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';